In [ ]:
import pandas as pd
import yfinance as yf
from datetime import timedelta
from sqlalchemy import create_engine
import schedule
import time

# Function to scrape monthly data for a given list of funds
def scrape_monthly_data(funds):
    df = pd.DataFrame()
    for fund in funds:
        df_new = yf.download(fund)
        df_new['Fund'] = fund
        df = df.append(df_new)
    df.rename(columns={'Adj Close': 'Adj_Close'}, inplace=True)
    df.reset_index(inplace=True)
    df = df.drop_duplicates()
    return df

# Function to store the monthly data in the database
def store_monthly_data(df_monthly):
    engine = create_engine('mysql+mysqlconnector://root:Pavan@localhost/mutual_fund_db')
    df_monthly.to_sql('mutual_fund_data', engine, if_exists='append', index=False)

# Function to calculate annualized returns for each fund
def calculate_annualized_returns(df_monthly):
    annualized_returns = {}
    periods = [1, 2, 3, 7, 10]
    for fund in df_monthly['Fund'].unique():
        df_fund = df_monthly[df_monthly['Fund'] == fund]
        returns = {}
        for period in periods:
            start_date = df_fund.index[-1] - timedelta(days=365 * period)
            if start_date in df_fund.index:
                start_value = df_fund.loc[start_date, 'Adj_Close']
            else:
                start_value = df_fund[df_fund.index > start_date].iloc[0]['Adj_Close']
            end_value = df_fund.iloc[-1]['Adj_Close']
            annualized_return = ((end_value / start_value) ** (1 / period)) - 1
            returns[str(period) + '_year'] = annualized_return
        annualized_returns[fund] = returns
    df_annualized_returns = pd.DataFrame(annualized_returns).transpose()
    return df_annualized_returns

# Function to store the annualized returns in the database
def store_annualized_returns(df_annualized_returns):
    engine = create_engine('mysql+mysqlconnector://root:Pavan@localhost/mutual_fund_db')
    df_annualized_returns.reset_index().to_sql('annualized_returns', engine, if_exists='replace', index=False)

# List of funds to scrape
funds = ['FSPTX', 'SCICX', 'BFGFX', 'FSCSX', 'SHTCX', 'CTHCX', 'VITAX', 'FELCX', 'FSELX', 'BPTRX']

# Define the function to scrape and store the data
def scrape_and_store_data():
    # Scrape monthly data
    df_monthly = scrape_monthly_data(funds)
    
    # Resample to monthly data, taking the last observation for each month
    df_monthly = df_monthly.resample('M').last()
    
    # Store the monthly data in the database
    store_monthly_data(df_monthly)
    
    # Calculate and store the annualized returns
    df_annualized_returns = calculate_annualized_returns(df_monthly)
    store_annualized_returns(df_annualized_returns)
    
    # Print the annualized returns
    print(df_annualized_returns)

# Schedule the function to run daily
schedule.every().day.do(scrape_and_store_data)

# Run the scheduled tasks indefinitely
while True:
    schedule.run_pending()
    time.sleep(1)

In [61]:
import pandas as pd
import yfinance as yf
from yahoofinancials import YahooFinancials
# List of funds to scrape
df= yf.download('FSPTX')
df['Fund'] = 'FSPTX'
funds = ['SCICX', 'BFGFX', 'FSCSX', 'SHTCX', 'CTHCX', 'VITAX', 'FELCX', 'FSELX', 'BPTRX']
for fund in funds:
    df_new = yf.download(fund)
    df_new['Fund'] = fund
    df=df.append(df_new)
df.rename(columns={'Adj Close': 'Adj_Close'}, inplace=True)
df.reset_index(inplace=True)
df = df.drop_duplicates()
print(df.head())

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

C:\Users\Nandita\AppData\Local\Temp\ipykernel_16132\2279552127.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df=df.append(df_new)

[*********************100%***********************]  1 of 1 completed

C:\Users\Nandita\AppData\Local\Temp\ipykernel_16132\2279552127.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df=df.append(df_new)

[*********************100%***********************]  1 of 1 completed

C:\Users\Nandita\AppData\Local\Temp\ipykernel_16132\2279552127.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df=df.append(df_new)

[*********************100%***********************]  1 of 1 completed

C:\Users\Nandita\AppData\Local\Temp\ipykernel_16132\2279552127.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df=df.append(df_new)

[*********************100%***********************]  1 of 1 completed

C:\Users\Nandita\AppData\Local\Temp\ipykernel_16132\2279552127.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df=df.append(df_new)

[*********************100%***********************]  1 of 1 completed

C:\Users\Nandita\AppData\Local\Temp\ipykernel_16132\2279552127.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df=df.append(df_new)

[*********************100%***********************]  1 of 1 completed

C:\Users\Nandita\AppData\Local\Temp\ipykernel_16132\2279552127.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df=df.append(df_new)

[*********************100%***********************]  1 of 1 completed

C:\Users\Nandita\AppData\Local\Temp\ipykernel_16132\2279552127.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df=df.append(df_new)

[*********************100%***********************]  1 of 1 completed
        Date  Open  High  Low  Close  Adj_Close  Volume   Fund
0 1981-07-14   1.0   1.0  1.0    1.0   0.118762       0  FSPTX
1 1981-07-15   1.0   1.0  1.0    1.0   0.118762       0  FSPTX
2 1981-07-16   1.0   1.0  1.0    1.0   0.118762       0  FSPTX
3 1981-07-17   1.0   1.0  1.0    1.0   0.118762       0  FSPTX
4 1981-07-20   1.0   1.0  1.0    1.0   0.118762       0  FSPTX

C:\Users\Nandita\AppData\Local\Temp\ipykernel_16132\2279552127.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df=df.append(df_new)

In [65]:
df['Date'] = pd.to_datetime(df['Date'])  # Ensure the Date column is in datetime format
df.set_index('Date', inplace=True)  # Set the Date column as the index

# List to hold the monthly dataframes for each fund
monthly_dfs = []

funds = ['FSPTX', 'SCICX', 'BFGFX', 'FSCSX', 'SHTCX', 'CTHCX', 'VITAX', 'FELCX', 'FSELX', 'BPTRX']

for fund in funds:
    df_fund = df[df['Fund'] == fund]
    
    # Resample to monthly data, taking the last observation for each month
    df_monthly = df_fund.resample('M').last()
    
    monthly_dfs.append(df_monthly)

# Concatenate all the monthly dataframes
df_monthly = pd.concat(monthly_dfs)

# Reset the index
df_monthly.reset_index(inplace=True)

# Now df_monthly should contain the end of month data for each fund

In [72]:
df_monthly

,Date,Open,High,Low,Close,Adj_Close,Volume,Fund
0,1981-07-31,1.009000,1.009000,1.009000,1.009000,0.119831,0,FSPTX
1,1981-08-31,0.927000,0.927000,0.927000,0.927000,0.110093,0,FSPTX
2,1981-09-30,0.900000,0.900000,0.900000,0.900000,0.106886,0,FSPTX
3,1981-10-31,1.045000,1.045000,1.045000,1.045000,0.124106,0,FSPTX
4,1981-11-30,1.070000,1.070000,1.070000,1.070000,0.127076,0,FSPTX
...,...,...,...,...,...,...,...,...
3280,2023-01-31,132.639999,132.639999,132.639999,132.639999,132.639999,0,BPTRX
3281,2023-02-28,140.059998,140.059998,140.059998,140.059998,140.059998,0,BPTRX
3282,2023-03-31,137.570007,137.570007,137.570007,137.570007,137.570007,0,BPTRX
3283,2023-04-30,127.120003,127.120003,127.120003,127.120003,127.120003,0,BPTRX
3284,2023-05-31,126.849998,126.849998,126.849998,126.849998,126.849998,0,BPTRX

In [67]:
from sqlalchemy import create_engine
engine = create_engine('mysql+mysqlconnector://root:Pavan@localhost/mutual_fund_db')
df_monthly.to_sql('mutual_fund_data', engine, if_exists='append', index=False)

3285

In [80]:
# ensure 'Date' is datetime and set as index
df_monthly['Date'] = pd.to_datetime(df['Date'])
df_monthly.set_index('Date', inplace=True)

KeyError: 'Date'

In [82]:
from datetime import timedelta

annualized_returns = {}

periods = [1, 2, 3, 7, 10] 
for fund in df_monthly['Fund'].unique():
    df_fund = df_monthly[df_monthly['Fund'] == fund]
    returns = {}
    for period in periods:
        # Get the data from period years ago
        start_date = df_fund.index[-1] - timedelta(days=365*period)
        if start_date in df_fund.index:
            start_value = df_fund.loc[start_date, 'Adj_Close']
        else:
            # If exact date not available due to holiday, etc., get the next available date
            start_value = df_fund[df_fund.index > start_date].iloc[0]['Adj_Close']
        end_value = df_fund.iloc[-1]['Adj_Close']
        # Calculate the annualized return
        annualized_return = ((end_value/start_value)**(1/period))-1
        returns[str(period)+'_year'] = annualized_return
    annualized_returns[fund] = returns

df_annualized_returns = pd.DataFrame(annualized_returns).transpose()
print(df_annualized_returns)

         1_year    2_year    3_year    7_year   10_year
FSPTX  0.092115 -0.031187  0.128920  0.206047  0.182377
SCICX -0.044727 -0.042453  0.157520  0.185598  0.175559
BFGFX  0.007224 -0.015952  0.253089  0.202237  0.154582
FSCSX  0.054298 -0.041880  0.081335  0.174816  0.169443
SHTCX -0.043875 -0.043853  0.153262  0.186494  0.178808
CTHCX  0.036959 -0.047560  0.098359  0.177393  0.175863
VITAX  0.086564  0.030363  0.151494  0.214483  0.193859
FELCX  0.101522  0.076119  0.243280  0.238175  0.222716
FSELX  0.112814  0.087280  0.258275  0.244477  0.231529
BPTRX -0.104231 -0.071309  0.262094  0.224860  0.184674

In [84]:
from sqlalchemy import create_engine
# Create the database connection
engine = create_engine('mysql+mysqlconnector://root:Pavan@localhost/mutual_fund_db')
# Write the DataFrame to the SQL database
df_annualized_returns.reset_index().to_sql('annualized_returns', engine, if_exists='replace', index=False)
# The if_exists parameter defines what to do if the table already exists in the database. 
# With 'replace', the function will drop the existing table and insert a new one.

10

In [85]:
!pip install flask

Requirement already satisfied: flask in c:\users\nandita\anaconda3\lib\site-packages (1.1.2)
Requirement already satisfied: Werkzeug>=0.15 in c:\users\nandita\anaconda3\lib\site-packages (from flask) (2.0.3)
Requirement already satisfied: click>=5.1 in c:\users\nandita\anaconda3\lib\site-packages (from flask) (8.0.4)
Requirement already satisfied: itsdangerous>=0.24 in c:\users\nandita\anaconda3\lib\site-packages (from flask) (2.0.1)
Requirement already satisfied: Jinja2>=2.10.1 in c:\users\nandita\anaconda3\lib\site-packages (from flask) (2.11.3)
Requirement already satisfied: colorama in c:\users\nandita\anaconda3\lib\site-packages (from click>=5.1->flask) (0.4.4)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\nandita\anaconda3\lib\site-packages (from Jinja2>=2.10.1->flask) (2.0.1)

In [86]:
from flask import Flask, jsonify
from sqlalchemy import create_engine
import pandas as pd

app = Flask(__name__)

@app.route('/api/v1/returns', methods=['GET'])
def get_returns():
    engine = create_engine('mysql://root:Pavan@localhost/mutual_fund_db')
    query = 'SELECT * FROM annualized_returns'
    df = pd.read_sql_query(query, engine)
    return jsonify(df.to_dict(orient='records'))

if __name__ == '__main__':
    app.run(debug=True)

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: on

 * Restarting with watchdog (windowsapi)

SystemExit: 1

C:\Users\Nandita\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3377: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

In [78]:
df_monthly.set_index('Date', inplace=True)
df_monthly

,Open,High,Low,Close,Adj_Close,Volume,Fund
Date,,,,,,,
1981-07-31,1.009000,1.009000,1.009000,1.009000,0.119831,0,FSPTX
1981-08-31,0.927000,0.927000,0.927000,0.927000,0.110093,0,FSPTX
1981-09-30,0.900000,0.900000,0.900000,0.900000,0.106886,0,FSPTX
1981-10-31,1.045000,1.045000,1.045000,1.045000,0.124106,0,FSPTX
1981-11-30,1.070000,1.070000,1.070000,1.070000,0.127076,0,FSPTX
...,...,...,...,...,...,...,...
2023-01-31,132.639999,132.639999,132.639999,132.639999,132.639999,0,BPTRX
2023-02-28,140.059998,140.059998,140.059998,140.059998,140.059998,0,BPTRX
2023-03-31,137.570007,137.570007,137.570007,137.570007,137.570007,0,BPTRX
2023-04-30,127.120003,127.120003,127.120003,127.120003,127.120003,0,BPTRX
2023-05-31,126.849998,126.849998,126.849998,126.849998,126.849998,0,BPTRX

In [70]:
print(df.index)

DatetimeIndex(['1981-07-14', '1981-07-15', '1981-07-16', '1981-07-17',
               '1981-07-20', '1981-07-21', '1981-07-22', '1981-07-23',
               '1981-07-24', '1981-07-27',
               ...
               '2023-05-02', '2023-05-03', '2023-05-04', '2023-05-05',
               '2023-05-08', '2023-05-09', '2023-05-10', '2023-05-11',
               '2023-05-12', '2023-05-15'],
              dtype='datetime64[ns]', name='Date', length=68703, freq=None)

In [71]:
df

,Open,High,Low,Close,Adj_Close,Volume,Fund
Date,,,,,,,
1981-07-14,1.000000,1.000000,1.000000,1.000000,0.118762,0,FSPTX
1981-07-15,1.000000,1.000000,1.000000,1.000000,0.118762,0,FSPTX
1981-07-16,1.000000,1.000000,1.000000,1.000000,0.118762,0,FSPTX
1981-07-17,1.000000,1.000000,1.000000,1.000000,0.118762,0,FSPTX
1981-07-20,1.000000,1.000000,1.000000,1.000000,0.118762,0,FSPTX
...,...,...,...,...,...,...,...
2023-05-09,127.400002,127.400002,127.400002,127.400002,127.400002,0,BPTRX
2023-05-10,127.239998,127.239998,127.239998,127.239998,127.239998,0,BPTRX
2023-05-11,127.730003,127.730003,127.730003,127.730003,127.730003,0,BPTRX
2023-05-12,126.610001,126.610001,126.610001,126.610001,126.610001,0,BPTRX
2023-05-15,126.849998,126.849998,126.849998,126.849998,126.849998,0,BPTRX