In [2]:
!pip install pymongo
!pip install yahoofinancials
import pandas as pd
from pymongo import MongoClient
import yfinance as yf
from yahoofinancials import YahooFinancials
import time
from datetime import timedelta

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pymongo
  Downloading pymongo-4.3.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (492 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 492.9/492.9 kB 4.7 MB/s eta 0:00:00
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.3.0-py3-none-any.whl (283 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 283.7/283.7 kB 9.5 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.3.0 pymongo-4.3.3
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting yahoofinancials
  Downloading yahoofinancials-1.14.tar.gz (41 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 41.5/41.5 kB 3.5 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: pytz in /usr/local/lib/python3.10/dist-packages (from yahoofinancials) (2022.7.1)
Requirement already satisfied: requests>=2.26 in /usr/local/lib/python3.10/dist-packages (from yahoofinancials) (2.27.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests>=2.26->yahoofinancials) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests>=2.26->yahoofinancials) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests>=2.26->yahoofinancials) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests>=2.26->yahoofinancials) (3.4)
Building wheels for collected packages: yahoofinancials
  Building wheel for yahoofinancials (setup.py) ... done
  Created wheel for yahoofinancials: filename=yahoofinancials-1.14-py3-none-any.whl size=28627 sha256=842a0174ae3a5e4fceea9dd47947ec4f7900acd96930c52f7135d479d8ddca7f
  Stored in directory: /root/.cache/pip/wheels/32/a3/b6/b5b33187f2d42f095fecc236b957b46173fa09e78a106e309f
Successfully built yahoofinancials
Installing collected packages: yahoofinancials
Successfully installed yahoofinancials-1.14

In [7]:
## Setting up Mongo db 
client = MongoClient('mongodb+srv://nanditanandath:nandita@cluster0.zv8xtm0.mongodb.net/?retryWrites=true&w=majority')

In [8]:
print(client.server_info())

{'version': '6.0.6', 'gitVersion': '26b4851a412cc8b9b4a18cdb6cd0f9f642e06aa7', 'modules': ['enterprise'], 'allocator': 'tcmalloc', 'javascriptEngine': 'mozjs', 'sysInfo': 'deprecated', 'versionArray': [6, 0, 6, 0], 'bits': 64, 'debug': False, 'maxBsonObjectSize': 16777216, 'storageEngines': ['devnull', 'ephemeralForTest', 'inMemory', 'queryable_wt', 'wiredTiger'], 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1684377960, 2), 'signature': {'hash': b'\x06c\x990\xa3\x8a\x1f\x1cD\xf8\x84\x9bW\xa0%\x81\t\xc6x\xce', 'keyId': 7193192226405482501}}, 'operationTime': Timestamp(1684377960, 2)}

In [9]:
## getting data of funds from yahoo
funds = ['SCICX', 'BFGFX', 'FSCSX', 'SHTCX', 'CTHCX', 'VITAX', 'FELCX', 'FSELX', 'BPTRX']
df = pd.DataFrame()
for fund in funds:
    df_new = yf.download(fund)
    df_new['Fund'] = fund
    df=df.append(df_new)
df.rename(columns={'Adj Close': 'Adj_Close'}, inplace=True)
df.reset_index(inplace=True)
df = df.drop_duplicates()
df

[*********************100%***********************]  1 of 1 completed

<ipython-input-9-7ede5f67daed>:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df=df.append(df_new)

[*********************100%***********************]  1 of 1 completed

<ipython-input-9-7ede5f67daed>:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df=df.append(df_new)

[*********************100%***********************]  1 of 1 completed

<ipython-input-9-7ede5f67daed>:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df=df.append(df_new)

[*********************100%***********************]  1 of 1 completed

<ipython-input-9-7ede5f67daed>:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df=df.append(df_new)

[*********************100%***********************]  1 of 1 completed

<ipython-input-9-7ede5f67daed>:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df=df.append(df_new)

[*********************100%***********************]  1 of 1 completed

<ipython-input-9-7ede5f67daed>:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df=df.append(df_new)

[*********************100%***********************]  1 of 1 completed

<ipython-input-9-7ede5f67daed>:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df=df.append(df_new)

[*********************100%***********************]  1 of 1 completed

<ipython-input-9-7ede5f67daed>:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df=df.append(df_new)

[*********************100%***********************]  1 of 1 completed

<ipython-input-9-7ede5f67daed>:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df=df.append(df_new)

,Date,Open,High,Low,Close,Adj_Close,Volume,Fund
0,1999-05-27,29.389999,29.389999,29.389999,29.389999,4.423213,0,SCICX
1,1999-05-28,29.660000,29.660000,29.660000,29.660000,4.463850,0,SCICX
2,1999-06-01,29.360001,29.360001,29.360001,29.360001,4.418699,0,SCICX
3,1999-06-02,29.629999,29.629999,29.629999,29.629999,4.459334,0,SCICX
4,1999-06-03,29.450001,29.450001,29.450001,29.450001,4.432244,0,SCICX
...,...,...,...,...,...,...,...,...
58167,2023-05-11,127.730003,127.730003,127.730003,127.730003,127.730003,0,BPTRX
58168,2023-05-12,126.610001,126.610001,126.610001,126.610001,126.610001,0,BPTRX
58169,2023-05-15,126.849998,126.849998,126.849998,126.849998,126.849998,0,BPTRX
58170,2023-05-16,126.000000,126.000000,126.000000,126.000000,126.000000,0,BPTRX
58171,2023-05-17,128.550003,128.550003,128.550003,128.550003,128.550003,0,BPTRX

In [10]:
## Get monthly data

df['Date'] = pd.to_datetime(df['Date'])  # Ensure the Date column is in datetime format
df.set_index('Date', inplace=True)  # Set the Date column as the index

# List to hold the monthly dataframes for each fund
monthly_dfs = []

funds = ['FSPTX', 'SCICX', 'BFGFX', 'FSCSX', 'SHTCX', 'CTHCX', 'VITAX', 'FELCX', 'FSELX', 'BPTRX']

for fund in funds:
    df_fund = df[df['Fund'] == fund]
    
    # Resample to monthly data, taking the last observation for each month
    df_monthly = df_fund.resample('M').last()
    
    monthly_dfs.append(df_monthly)

# Concatenate all the monthly dataframes
df_monthly = pd.concat(monthly_dfs)

# Reset the index
df_monthly.reset_index(inplace=True)

In [11]:
df_monthly

,Date,Open,High,Low,Close,Adj_Close,Volume,Fund
0,1999-05-31,29.660000,29.660000,29.660000,29.660000,4.463850,0,SCICX
1,1999-06-30,33.099998,33.099998,33.099998,33.099998,4.981570,0,SCICX
2,1999-07-31,33.360001,33.360001,33.360001,33.360001,5.020701,0,SCICX
3,1999-08-31,33.279999,33.279999,33.279999,33.279999,5.008660,0,SCICX
4,1999-09-30,34.450001,34.450001,34.450001,34.450001,5.184746,0,SCICX
...,...,...,...,...,...,...,...,...
2777,2023-01-31,132.639999,132.639999,132.639999,132.639999,132.639999,0,BPTRX
2778,2023-02-28,140.059998,140.059998,140.059998,140.059998,140.059998,0,BPTRX
2779,2023-03-31,137.570007,137.570007,137.570007,137.570007,137.570007,0,BPTRX
2780,2023-04-30,127.120003,127.120003,127.120003,127.120003,127.120003,0,BPTRX
2781,2023-05-31,128.550003,128.550003,128.550003,128.550003,128.550003,0,BPTRX

In [12]:
## initializing database and collection names
db = client['mutual_funds']
monthly_collection = db['mutual_funds_monthly']

In [13]:
## storing monthly data to db
monthly_data = df_monthly.to_dict(orient='records')
monthly_collection.insert_many(monthly_data)

In [14]:
# ensure 'Date' is datetime and set as index
df_monthly['Date'] = pd.to_datetime(df_monthly['Date'])
df_monthly.set_index('Date', inplace=True)

In [15]:
## calculate annulasied results for the monthly data

annualized_returns = {}
periods = [1, 2, 3, 7, 10]
for fund in df_monthly['Fund'].unique():
    df_fund = df_monthly[df_monthly['Fund'] == fund]
    returns = {}
    for period in periods:
        start_date = df_fund.index[-1] - timedelta(days=365 * period)
        if start_date in df_fund.index:
            start_value = df_fund.loc[start_date, 'Adj_Close']
        else:
            start_value = df_fund[df_fund.index > start_date].iloc[0]['Adj_Close']
        end_value = df_fund.iloc[-1]['Adj_Close']
        annualized_return = ((end_value / start_value) ** (1 / period)) - 1
        returns[str(period) + '_year'] = annualized_return
    print(fund)
    returns['fund'] = fund
    print(returns)
    annualized_returns[fund] = returns
df_annualized_returns = pd.DataFrame(annualized_returns).transpose()

SCICX
{'1_year': -0.028373797459278483, '2_year': -0.03429190340953059, '3_year': 0.16408792835224228, '7_year': 0.1884769650402689, '10_year': 0.17755619209679718, 'fund': 'SCICX'}
BFGFX
{'1_year': 0.007538405034972273, '2_year': -0.015798686008721585, '3_year': 0.25321962544202803, '7_year': 0.20229058776636832, '10_year': 0.15461819800921273, 'fund': 'BFGFX'}
FSCSX
{'1_year': 0.06944482745488911, '2_year': -0.035022256698120535, '3_year': 0.08648905667426376, '7_year': 0.1772121902620447, '10_year': 0.1711120765666434, 'fund': 'FSCSX'}
SHTCX
{'1_year': -0.027608937590959726, '2_year': -0.035754414477431995, '3_year': 0.1597647945432339, '7_year': 0.1893572932574259, '10_year': 0.18079835447008752, 'fund': 'SHTCX'}
CTHCX
{'1_year': 0.05528206338966224, '2_year': -0.039182272695994835, '3_year': 0.1047909087842891, '7_year': 0.18034324548342373, '10_year': 0.17792419739332188, 'fund': 'CTHCX'}
VITAX
{'1_year': 0.10173680717531952, '2_year': 0.03753214911979441, '3_year': 0.15682887349913832, '7_year': 0.21689185319487536, '10_year': 0.1955161339141831, 'fund': 'VITAX'}
FELCX
{'1_year': 0.13022239909873257, '2_year': 0.09004767328938357, '3_year': 0.2539859110147564, '7_year': 0.24273282984945843, '10_year': 0.22586548711812027, 'fund': 'FELCX'}
FSELX
{'1_year': 0.14419327976889207, '2_year': 0.10250309551850112, '3_year': 0.2699924110661276, '7_year': 0.24943033360896782, '10_year': 0.23495796515601075, 'fund': 'FSELX'}
BPTRX
{'1_year': -0.09222569459447427, '2_year': -0.06510640693961389, '3_year': 0.26770694187590083, '7_year': 0.22719196088697924, '10_year': 0.18625228429517526, 'fund': 'BPTRX'}

In [16]:
df_annualized_returns

         1_year    2_year    3_year    7_year   10_year   fund
SCICX -0.028374 -0.034292  0.164088  0.188477  0.177556  SCICX
BFGFX  0.007538 -0.015799   0.25322  0.202291  0.154618  BFGFX
FSCSX  0.069445 -0.035022  0.086489  0.177212  0.171112  FSCSX
SHTCX -0.027609 -0.035754  0.159765  0.189357  0.180798  SHTCX
CTHCX  0.055282 -0.039182  0.104791  0.180343  0.177924  CTHCX
VITAX  0.101737  0.037532  0.156829  0.216892  0.195516  VITAX
FELCX  0.130222  0.090048  0.253986  0.242733  0.225865  FELCX
FSELX  0.144193  0.102503  0.269992   0.24943  0.234958  FSELX
BPTRX -0.092226 -0.065106  0.267707  0.227192  0.186252  BPTRX

In [17]:
## initializing collection name for annualized returns
annualized_data_collection = db['mutual_funds_annualized']

In [18]:
## storing annualized data to db
annualized_data = df_annualized_returns.to_dict(orient='records')
annualized_data_collection.insert_many(annualized_data)